<app-toaster></app-toaster>
<div>
  {{ user$ | async | json }}
</div>

<div class="bar">
  <div>
      <a routerLink="planner">
        Planner
      </a>
  </div>


  <a [routerLink]="['/users']">
    Users
  </a>

  <a [routerLink]="['/todos']">
    Todos
  </a>

  <a routerLink="todos">
    Todos
  </a>

  <a routerLink="test">
    Test
  </a>
</div>
<br/>
<app-header [user]="user$ | async" (logout)="onLogout()"></app-header>
<!-- <div *ngFor="let todo of todos$ | async">
  {{ todo.name}}
</div> -->

<div class="wrapper">

  <router-outlet></router-outlet>
</div>
