body{
    margin:0;
    background-color: cadetblue;
}

:root {
    --ff-primary: basic-sans, sans-serif;
    --clr-primary: #ee6352;
    --clr-week: blue;
    --clr-body: #333;
    --clr-bg: #ddd;
    --spacer: 1rem;
    --flow-space: 2rem;
  }

  .bar{
    display: flex;
    justify-content:space-between;
    background-color: whitesmoke;
  }